<div class="container">
<h1>All Flats  (<%= @flats.count %>) </h1>

  <% @flats.each do |flat| %>
  <ul>
    <li>
      <%= link_to flat.name, flat_path(flat) %>
      <p><%= flat.address %></p>
      <p> <i class="fas fa-user"></i> <%= flat.number_of_guests %></p>
      <p><%= flat.price_per_night %></p>
    </li>
  </ul>
  <% end %>
<p> <%= link_to 'Add Flat', new_flat_path %> </p>
</div>
